<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= asunto %></title>
  <style>
    body {
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
    }
    h1 {
      font-size: 28px;
      color: #007bff;
    }
    p {
      margin-bottom: 10px;
    }
    .mensaje {
      padding: 10px;
      background-color: #f5f5f5;
      border: 1px solid #ccc;
    }
  </style>
</head>
<body>
  <h1><%= asunto %></h1>
  <p>Este correo electrónico es enviado por <%= remitente %>.</p>
  <div class="mensaje">
    <p>Correo: <%= remitente %><br></p>
    <p>Asunto: <%= asunto%> <br></p>
    <p>Mensaje: <%= mensaje %> <br></p>
    
  </div>
</body>
</html>